<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Restaurant Apps Starter Project</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <header>
      <img src="./images/Logo.png" alt="DapurKita" />
      <ul class="nav-menu">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="./">Favourite</a></li>
        <li class="nav-item">
          <a href="https://github.com/Arraidh">About</a>
        </li>
      </ul>
      <nav class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </nav>
    </header>
    <main></main>
    <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada
      ./images/heros sebagai background hero elemen
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
  </body>
</html>
